layout_uv() {
    if [[ -n "${UV_PYTHON:-}" && $# -gt 0 ]]; then
        log_error "Both UV_PYTHON and a Python version argument are provided."
        log_error "Please use only one method to specify the Python version."
        return 1
    fi

    UV_PROJECT_ENVIRONMENT="${UV_PROJECT_ENVIRONMENT:-$(pwd)/.venv}"
    UV_PYTHON="${1:-${UV_PYTHON:-python3}}"

    # remove the python argument from the arguments list, so that the remaining
    # arguments can be passed to the `uv venv` creation command
    [[ $# -gt 0 ]] && shift

    export UV_PYTHON
    export UV_PROJECT_ENVIRONMENT
    if [[ ! -d "${UV_PROJECT_ENVIRONMENT}" ]]; then
        log_status "Creating new virtual environment at ${UV_PROJECT_ENVIRONMENT}"
		uv venv --python "$UV_PYTHON" "$@"
    fi
    source "${UV_PROJECT_ENVIRONMENT}/bin/activate"
}


layout_uv 3.12

